<!DOCTYPE HTML>
<html ng-app='sched'>
<head>
  <script src="../node_modules/angular/angular.js"></script>

  <link rel='stylesheet' type='text/css' href='style.css' />
</head>
<body>
  <div class='title'  ng-controller='titleController'>
    <h1 style='font-size:smaller;'>{{ title }}</h1>
  </div>
  <div class='timeTable' ng-controller='timeTableController'>
    <div ng-repeat='time in table.times' style="border-top: 1px solid black; height:{{ table.height }}%; ">{{ time }}</div>
  </div>
  
  <div class='daysLayout' ng-controller='daysController'>

    <div class='container'>
      <div ng-repeat="day in table.days">
        <div class='dayLayout' ng-controller='dayLayoutController'>

          <div class='date'>{{ table.date }}</div>

          <div class='roomName' ng-repeat="room in table.rooms">{{ room }}</div>


        </div>
      </div>
    </div>

  </div>




  <script src="views/title.js"></script>
  <script src="views/timeTable.js"></script>
  <script src="views/days.js"></script>
  <script src="views/day.js"></script>
  <script src="app.js"></script>

</body>

</html>