<!DOCTYPE HTML>
<html ng-app='sched'>
<head>
  <script src="../node_modules/angular/angular.js"></script>

  <link rel='stylesheet' type='text/css' href='style.css' />
</head>
<body>
  <div class='title'  ng-controller='titleController'>
    <h1 style='font-size:smaller;'>{{ title }}</h1>
  </div>
  <div class='timeTable' style="top:130px" ng-controller='timeTableController'>
    <div ng-repeat='time in table.times' style="border-top: 1px solid black; height:{{ table.height }}%; ">{{ time }}</div>
  </div>
  
  <div class='daysLayout' ng-controller='daysController'>

    <div class='container'>
      <div ng-repeat="day in table.days">
        <div class='dayLayout' ng-controller='dayLayoutController'>

          <div class='date'>{{ day }}</div>

          <div class='roomName' style='width: {{ (100 / table.rooms.length) -.5 }}%' ng-repeat="room in table.rooms">{{ room }}</div>

          <div class='eventBox' style='width: {{ (100 / table.rooms.length) -.5 }}%' ng-repeat='room in table.rooms'>

            <div class='innerEventBox' ng-repeat='event in table[room]'>

              <div class='event' style="top: {{ event.start }}; height: {{ event.duration }}; ">
                <span>{{ event.title }}</span> 
              </div>

            </div>

          </div>


        </div>
      </div>
    </div>

  </div>




  <script src="views/title.js"></script>
  <script src="views/timeTable.js"></script>
  <script src="views/days.js"></script>
  <script src="views/day.js"></script>
  <script src="views/event.js"></script>
  <script src="app.js"></script>

</body>

</html>