
body{
  position: relative;
}

.title, .timeTable, .daysLayout, h1, .dayLayout, .date{
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  overflow:hidden;
}

.defaults{
  /*border: 0px;*/
  margin: 0px;
  padding: 0px;
  overflow:hidden;

}

.title{
  height:7vh;
  width:98vw;
  text-align: center;
  font-size: 25pt;
}

.timeTable{
  height: 90vh;
  width: 4vw;
  font-size:smaller;
  position: absolute;
  float: left;
}

.daysLayout{
  height: 90vh;
  width: 94vw;
  float: right;
  position:relative;
  overflow-x:auto;
}

.container {
  width:3000px;
}

.dayLayout{
  height:100%;
  /*width will be variable later but for now*/
  width: 500px;
  float:left;
}

.date{
  text-align:center;
  height:8%;
  width:100%;
}

.roomName {
  height: 2vh;
  /*width will need to be variable at some point*/
  width: 100px;
  float: left;
}